body {
    /* background-color: #ffbd9b; */
    margin: 0;
    background-color: ghostwhite;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.redorange-color {
    color: rgb(248, 165, 69);
}
section {
    height: 600px;
    /* border: 5px dashed firebrick; */
}
h1,
h2 {
    /* border: 1px solid teal; */
    color: #363958;
    /* width: 300px;
  padding-top: 30px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px; */
    padding-top: 30px;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;

    /* text-transform: uppercase; */
    /* list-style: 25px; */
}

.redorange-color {
    color: rgb(248, 165, 69);
}

h3 {
    text-align: center;
    color: #363958;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}
h4 {
    font-size: 25px;
    font-weight: bold;
    color: #363958;
}
p {
    /* border: 1px solid forestgreen; */
    color: #3e3e3e;
    width: 309px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    padding-bottom: 30px;
}

/* navbar */

.top-nv {
    height: 50px;
}
.top-nav {
    float: right;
    margin-right: 40px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 0 10px 0 0;
    margin-right: 40px;
    font-weight: bold;
    color: #3c3c3c;
}

/* second section */
.all-banner {
    margin: 10px 0;
    padding-bottom: 100px;
}
.all-section {
    width: 40%;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    padding-left: 40px;
    /* border: 2px solid green; */
}
#top-photo img {
    width: 80%;
}
.btn-a {
    /* border: 1px solid sienna; */
    color: #ffffff;
    background-image: linear-gradient(45deg, #ff8063, #f46060);
    /* height: 50px;
  width: 100px; */
    border-radius: 25px;
    padding: 15px 45px;
    font-size: 15px;
}
/* .all-section-btn {
  padding-bottom: 20px;
} */

/* middle section */

#middle-photo img {
    width: 60%;
}
.middle-section {
    width: 40%;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    padding-left: 80px;
}

/* latest banner */
.latest-text h4 {
    font-size: 20px;
    font-weight: bold;
    /* padding-left: 50px; */
}
.latest-text {
    /* border: 2px solid blue; */
    width: 90%;
    margin-left: 30px;
}
.latest-banner {
    /* border: 2px solid firebrick; */
    background-color: #f4f4f2;
    height: 700px;
    margin-top: 20px;
    padding: 50px 0;
}
.latest-section {
    /* border: 2px solid firebrick; */
    float: left;
    padding: 10px;
    margin-left: 33px;
    width: 370px;
    /* box-shadow: 5px 10px 20px, crimson; */
    /* box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07); */
    background-color: #ffffff;
    border-radius: 20px;
    height: 374px;
}

.recipie-text {
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.latest-section img {
    /* border: 2px solid deeppink; */
    height: 60%;
    width: 100%;
    margin: 0;
}

.solve-measure {
    /* border: 5px solid fuchsia; */
    height: 300px;
    padding: 10px 20px;
}

/* extra */
.extra,
.gallery {
    margin-top: 50px;
    margin-left: 350px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
/* footer */

.footer-social {
    align-items: center;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 100%;
}
footer {
    text-align: center;
    background-color: #faebe0;
    padding: 10px;
}
.page-footer {
    background-color: transparent;
    position: absolute;
    padding: 20px 20px 20px 40px;
    bottom: 0;
}
